body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #0969DA, #2463EB); /* Gradiente de azul */
    color: white;
    text-align: center;
}

header {
    padding: 3rem 0;
}

.header-content {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo translúcido branco */
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
}

main {
    padding: 2rem;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.github-button {
    display: inline-block;
    background-color: white;
    color: #0969DA;
    padding: 1rem 2rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.github-button:hover {
    background-color: #f0f5ff;
}